@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card border-primary my-5" style="max-width: 20rem; margin-left: 60px">
    <div class="card-header">Margarita</div>
    <div class="card-body">
        <img src="~/margarita.jpg" alt="Margarita Pizza" style="min-width: 273px" />
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <h6 class="card-title">₹ 399</h6>
            <span class="badge rounded-pill bg-primary ms-auto">Secondary</span>
        </div>
        <div>
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Des.
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <strong>Margherita pizza is known for its ingredients representing the colours of the Italian flag. These ingredients include red tomato sauce, white mozzarella and fresh green basil. When all of these delicious flavours are combined on a hand-kneaded pizza base, a universally-adored pizza is created.s
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <button class="btn btn-primary btn-sm" type="button" style="min-width: 270px">
            Details
        </button>
    </div>
</div>